@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.hide-scroll {
  scrollbar-width: none; /* Firefox */
}

.hide-scroll {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
